<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>BKHospital | Liên hệ</title>
  <link rel="icon" type="image/x-icon" href="static/images/hospitalicon.ico">


</head>

<body>

  {% include "hospital/navbar.html" %}
  <br><br>

  <center>
    <h3 class='alert alert-success'>Liên hệ chúng tôi bằng số điện thoại.</h3>
    
    <h4> <img src="static/images/phone.png" alt="phone" height="20" width="20"> 0777900204</h4>
    <h5> Hoặc truy cập mạng xã hội của bệnh viện. </h5>
    <img src="static/images/arrow-rotated.gif" alt="gif" height="100" width="50">
  </center>
  {% include "hospital/footer.html" %}
</body>

</html>
